<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290385188673-29f4cvu5pe092as5aci4eefhlapviil0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290385188673-29f4cvu5pe092as5aci4eefhlapviil0</string>
	<key>API_KEY</key>
	<string>AIzaSyDPjxJdhfytoRWCaADozkL_TbPHBMBE6q4</string>
	<key>GCM_SENDER_ID</key>
	<string>290385188673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.node8.youth.power.app</string>
	<key>PROJECT_ID</key>
	<string>youth-power-app</string>
	<key>STORAGE_BUCKET</key>
	<string>youth-power-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290385188673:ios:1ab95fd26706ead22df3c0</string>
	<key>DATABASE_URL</key>
	<string>https://youth-power-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>